{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ankieter</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body>
    <div class="wrapper">
      <a href="{% url 'ankieter:index' %}"><img src="{% static 'super.png'%}"/> </a>
      <nav>
        <ul>
            {% if user.is_authenticated  %}
            <form class="logout-link" action="{% url 'ankieter:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Wyloguj</button>

              <a href="{% url 'ankieter:create'%}">Stworz Ankiete<a/>
                <a href="{% url 'ankieter:profil'%}">Profil<a/>

                {% else %}
                <a href="{% url 'ankieter:login'%}">Loguj<a/>
                <a href="{% url 'ankieter:signup'%}">Zarejestruj<a/>
                {% endif %}
                {% if user.is_superuser %}
                <a href=/admin/>Admin<a/>
                {% endif %}
            </form>
        </ul>
      </nav>
      {% block content %}
      {% endblock %}
  </body>
</html>
