{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ankieter</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body>
    <div class="wrapper">
      <a href="{% url 'ankieter:index' %}"><img src="{% static 'super.png'%}"/> </a>
      <nav>
        <ul>
          <li>
            <form class="logout-link" action="{% url 'ankieter:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Wyloguj</button>
            </form>
          </li>
        </ul>
      </nav>
      {% block content %}
      {% endblock %}

  </body>
</html>
