{% extends 'podstawa.html'%}

{% block content %}
<h1> Lista Ankiet </h1>
{% if lista_ostatnich_ankiet %}
    <ul>
    {% for ankieta in lista_ostatnich_ankiet %}
        <li><a href="{% url 'ankieter:wyniki' ankieta.id %}">{{ ankieta.nazwa_ankiety }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nie ma dostepnych ankiet.</p>
{% endif %}

  <div class="create">
    <h2>Stworz sb ankietke</h2>
    <br></br>
    <form class="site-form" action="{% url 'ankieter:create' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Stworz">
    </form>

  </div>
{% endblock %}
