{% extends 'podstawa.html'%}

{% block content %}
<a href="{% url 'ankieter:create'%}"> Krok 1 : Tworzenie Ankiety</a><br>
<a href="{% url 'ankieter:create2'%}"> Krok 2 : Tworzenie Grupy Pytan</a><br>
<a href="{% url 'ankieter:create3'%}"> Krok 3 : Tworzenie Pytania</a><br>
<a href="{% url 'ankieter:create4'%}"> Krok 4 : Tworzenie Odpowiedzi</a><br>

  <div class="create">
    <h2>Stworz sb odpowiedz</h2>
    <br></br>
    <form class="site-form" action="{% url 'ankieter:create4' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form4 }}
      <input type="submit" value="Stworz">
    </form>

  </div>
{% endblock %}
