{% extends 'podstawa.html' %}

{% block content %}
<h1> Witaj {% if user.is_authenticated %}{{ user }} {% endif %} !</h1>
<h2>Twoje Ankiety:</h2>
{% if lista_ostatnich_ankiet %}
<ul>
  {% for ankieta in lista_ostatnich_ankiet %}
      {% if user == ankieta.autor %}
        <li><a href="{% url 'ankieter:grupy' ankieta.id %}">{{ ankieta.nazwa_ankiety }} {{ankieta.pk}}</a></li>
      {% endif %}
  {% endfor %}
</ul>
{% else %}
    <p>Nie ma dostepnych ankiet.</p>
{% endif %}

<a href="{% url 'ankieter:create' %}"> + Ankieta </a>


{% endblock %}
