{% extends 'podstawa.html' %}

{% block content %}

  <p> {{  ankieta.nazwa_ankiety }} </p>
<ul>
{% for grupa in ankieta.grupa_set.all %}
  <li> {{ grupa.nazwa_grupy }} </li>

<ul>
{% for pytanie in grupa.pytanie_set.all %}
<p>Pytanie {% if pytanie.autor.is_superuser %}administratora {% else %}uzytkownika {% endif %}{{pytanie.autor}} :</p>

<p>{{ pytanie.pytanie_text }}</p>
{% if pytanie.pytanie_plik.url is not None %}
<img src="{{ pytanie.pytanie_plik.url }}"  width="15%" height="15%"/>
{% endif %}
<form action="{% url 'ankieter:glos' pytanie.id %}" method="post">
{% csrf_token %}
{% for wybor in pytanie.wybor_set.all %}
    <input type="radio" name="wybor" id="wybor{{ forloop.counter }}" value="{{ wybor.id }}" />
    <label for="wybor{{ forloop.counter }}">{{ wybor.wybor_text}}{% if wybor.plik.url is not None %}<img src="{{ wybor.plik.url }}"  />{% endif %}</label><br />
{% endfor %}
<input type="submit" value="Glosuj" />
</form>
{% endfor %}
</ul>

{% endfor %}
</ul>


{% endblock %}
