{% extends 'podstawa.html' %}

{% block content %}
<div>
  <p> {{  pytanie.ankieta }} </p>
<div>
  <p> {{ pytanie.grupa }}</p>
<div>

<p>Pytanie {% if pytanie.autor.is_superuser %}administratora {% else %}uzytkownika {% endif %}{{pytanie.autor}} :</p>

<p>{{ pytanie.pytanie_text }}</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if pytanie.pytanie_plik.url is not None %}
<img src="{{ pytanie.pytanie_plik.url }}"  width="15%" height="15%"/>
{% endif %}
<form action="{% url 'ankieter:glos' pytanie.id %}" method="post">
{% csrf_token %}
{% for wybor in pytanie.wybor_set.all %}
    <input type="radio" name="wybor" id="wybor{{ forloop.counter }}" value="{{ wybor.id }}" />
    <label for="wybor{{ forloop.counter }}">{{ wybor.wybor_text}}{% if wybor.plik.url is not None %}<img src="{{ wybor.plik.url }}"  />{% endif %}</label><br />
{% endfor %}
<input type="submit" value="Glosuj" />
</form>

</div>
</div>
</div>
{% endblock %}
