{% extends 'podstawa.html' %}

{% block content %}

<h1>Na pytanie:</h1>
<h3>{{ pytanie.pytanie_text }}</h3>

{% if pytanie.pytanie_plik.url is not None %}
<img src="{{ pytanie.pytanie_plik.url }}"  width="15%" height="15%"/>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<p>Ankietowani odpowiedzieli:</p>
<ol>
{% for wybor in pytanie.wybor_set.all %}
    <li>{{ wybor.wybor_text }} {% if wybor.plik.url is not None %}<img src="{{ wybor.plik.url }}"  />{% endif %} : {{ wybor.votes }}</li>
{% endfor %}
</ol>

{% endblock%}
