{% extends 'podstawa.html' %}

{% block content %}

<p>Wyniki ankiety {{ ankieta.nazwa_ankiety }} </p>

{% for grupa in ankieta.grupa_set.all %}
  <li> {{ grupa.nazwa_grupy }} </li>

  <ul>
    {% for pytanie in grupa.pytanie_set.all %}

<p>{{ pytanie.pytanie_text }}</p>

{% if pytanie.pytanie_plik.url is not None %}
<img src="{{ pytanie.pytanie_plik.url }}"  width="15%" height="15%"/>
{% endif %}


<p>Ankietowani odpowiedzieli:</p>
<ol>
{% for wybor in pytanie.wybor_set.all %}
    <li>{{ wybor.wybor_text }} {% if wybor.plik.url is not None %}<img src="{{ wybor.plik.url }}"  />{% endif %} : {{ wybor.votes }}</li>
{% endfor %}
</ol>

{% endfor %}
  </ul>


{% endfor %}

{% endblock%}
